<div class="horse-index-main">

  <div class="horse-index-title">　
	　
    <%= image_tag "perfectrap.png",class:"main-title"%>
　　 ラップタイム分析で好走馬を見抜く
  </div>
  <div class="fade">
    <div class="wrap load-up">
      <div class="horse-index-comment">
         ラップ分析を始める
      </div>
      <div class="horse-index-btn">
         <%= link_to "ENTER",'#', class:"enter-btn" %>
       </div>
    </div>

  </div>

</div>