<div class="rap-index-main">
    <%= link_to '管理',horses_path,class:"menu-item" %>

  <div class="rap-index-title">　
	　
    <%= image_tag "perfectrap.png",class:"main-title"%>
　　 <p>ラップ分析で好走馬を見抜く</p>
  </div>
    <div class="wrap load-up">
      <div class="rap-index-comment">
         ラップ分析を始める
      </div>
      <div class="rap-btn">
         <%= link_to "ENTER",plans_path, class:"enter-btn" %>
       </div>
    </div>

</div>